* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
    background-color:  #f3f4f9;
}
.wrapper {
    width: 50em;
    background: rgb(255, 255, 255);
    padding: 30px 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.178) ;
}

.wrapper .title {
    font-size: 20px;
    padding-bottom: 1em;
    color: #F50057;
}

.wrapper .form .imgnameage {
    display: flex;
    justify-content: space-between;

}
.wrapper .form .image img{
    width: 160px;
    overflow:auto;
    margin-right: 3em;
}
.wrapper .form .user_details .imgnameage .nameage {
    color: #756bac;
}
.wrapper .form .user_details .imgnameage .nameage #fname{
    width: 250px;
}
.wrapper .user_details .input_field #fname {
    font-size: 12px;
    width: 30%;
    padding: 12px;
    padding-left: 30px;
    background-color: #f6f7fa;
    border: none;
    outline: none;
}

.wrapper .user_details .radio {
    padding: 12px 0px;
    padding-right: 30px;
    width: 80%;
    /* font-size: 18px; */
    color: #756bac;
}

.wrapper .user_details .radio #radio_btn {
    margin-left: 30px;
    padding-right: 12px;
}
.wrapper .user_details .radio #gender {
    padding-left: 12px;
}

.wrapper .form .user_info {
    display: flex;
    color: #756bac;

}
.wrapper .form .user_info .pnum {
    padding-left: 5em;
}
.wrapper .form .user_info #fname {
    font-size: 12px;
    padding-left: 30px;
    width: 250px;
    height: 2.5em;
    border: none;
    outline: none;
    background-color: #f6f7fa;
}
.wrapper .form .college {
    display: flex;
    padding-bottom: 2em;
    color: #756bac;
}
.wrapper .form .college .branch {
    padding-left: 5em;
}
.wrapper .form .college .sem {
    padding-left: 3em;
}
.wrapper .form .college #fname {
    font-size: 12px;
    width: 250px;
    height: 2.5em;
    padding-left: 30px;
    border: none;
    outline: none;
    background-color: #f6f7fa;
}

.wrapper .check label {
    padding: 1em;
    color: #f86874;
    font-size: 12px;
    font-weight:600;
}

.wrapper .button {
    padding-top: 2em;
    display: flex;
    justify-content: center;
}
.wrapper .button #buttn {
    border: none;
    background-color: #f6f7fa;
    outline: none;
    border-radius: 20px;
    width: 10em;
    height: 2em;
}
.wrapper .button #buttn:hover {
    color: white;
    transition: 200ms;
    background-color: #ff5160;
}